body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151b29;
}

button {
  background: none;
  color: #ffc164;
  border: #ffc164 2px solid;
  font-size: large;
  padding: 1rem;
  cursor: pointer;
}

button:hover {
  transform: translateY(-4px);
  color: #fff;
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  -moz-box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
}
